name: Release
on:
  push:
    tags:
      - 'v*'
jobs:
  release:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    permissions:
      contents: write
      checks: write

      actions: read
      issues: read
      packages: write
      pull-requests: read
      repository-projects: read
      statuses: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create changelog for release
        id: github_release
        uses: mikepenz/release-changelog-builder-action@v1
        with:
          configuration: 'changelog.config.json'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Update release
        uses: ncipollo/release-action@v1
        with:
          makeLatest: true
          allowUpdates: true
          body: |
            ## Installation

            ```
            https://github.com/${{ github.repository }}/releases/download/${{ github.ref_name }}/decky-launch-options.zip
            ```

            ${{ steps.github_release.outputs.changelog }}
          token: ${{ secrets.GITHUB_TOKEN }}
  #          prerelease: ${{ contains(github.ref, 'rc') || contains(github.ref, 'beta') || contains(github.ref, 'alpha')}}

  deploy:
    needs: [ release ]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      checks: write

      actions: read
      issues: read
      packages: write
      pull-requests: read
      repository-projects: read
      statuses: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Set package.json version
        uses: wurielle/package-version-action@v1
        with:
          version: ${{ env.RELEASE_VERSION }}
          targets: |
            ./package.json

      - name: Set env variables
        shell: bash
        run: |
          echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Setup PNPM@9
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Decky CLI Build
        run: |
          mkdir $(pwd)/cli
          curl -L -o $(pwd)/cli/decky "https://github.com/SteamDeckHomebrew/cli/releases/latest/download/decky-linux-x86_64"
          chmod +x $(pwd)/cli/decky
          $(pwd)/cli/decky plugin build $(pwd)
          mv "out/Launch Options.zip" "out/decky-launch-options.zip"

      - name: Upload artifacts to Release
        uses: alexellis/upload-assets@0.4.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          asset_paths: '["./out/*"]'

      - name: Rollback Release
        if: failure()
        uses: author/action-rollback@stable
        with:
          tag: ${{ env.RELEASE_VERSION }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}