name: Tag release
on:
  push:
    branches:
      - main
      - pre/rc
      - beta
      - alpha

jobs:
  tag-release:
    name: Tag release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.ACCOUNT_TOKEN }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v6
        id: semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          dry_run: true

      - uses: wurielle/package-version-action@v2
        with:
          version: ${{ steps.semantic-release.outputs.new_release_version }}
          targets: |
            ./package.json

      - name: Commit version changes
        if: steps.semantic-release.outputs.new_release_version != ''
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "chore(release): update package versions to ${{ steps.semantic-release.outputs.new_release_version }}"
          git push

      - name: Publish tag
        if: steps.semantic-release.outputs.new_release_version != ''
        uses: cycjimmy/semantic-release-action@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          dry_run: false